body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: blueviolet;
  text-align: center;
}

h1 {
  text-shadow: gray -2px 2px;
}

#gameCanvas {
  position: relative;
  display: flex;
  justify-content: center;
  background: thistle;
  height: 670px;
  margin: 3%;
  padding: 10%;
  text-align: center;
}

#wackyFace {
  border-radius: 50%;
}

.selectionArrow {
  background: none;
  border: solid purple;
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 8px;
}

#leftArrow {
  transform: rotate(135deg);
}

#rightArrow {
  transform: rotate(-45deg);
}

#titlePage {
  position: absolute;
  height: 670px;
  z-index: 4;
}

#movieContainer {
  opacity: 0;
  z-index: 3;
  position: absolute;
}

#movieUserInputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px 0px;
}

#pirateContainer {
  opacity: 0;
  z-index: 2;
  position: absolute;
}

#pirateUserInputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px 0px;
}

#dateContainer {
  opacity: 0;
  z-index: 1;
  position: absolute;
}

#dateUserInputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px 0px;
}

input {
  margin: 3px;
  width: 120px;
  text-align: center;
}

#movieStory {
  opacity: 0;
  text-align: center;
  margin: 10px;
}

#pirateStory {
  opacity: 0;
}

#dateStory {
  opacity: 0;
}
